@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #f1f1f1;
}

.custom-scroll {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.custom-scroll::-webkit-scrollbar {
    display: none;
}

@layer utilities {
    .page-container {
        @apply md:w-[85%] lg:w-[88%] lg:ml-[12%] md:ml-[15%] h-[100vh] p-5 bg-gray-200 overflow-y-scroll overflow-x-hidden min-w-[80vw]
    }

    .report-detail-line {
        @apply w-full flex justify-between border-b-[1px] py-2 px-2
    }

    .title-container {
        @apply flex justify-between items-end h-[5vh]
    }

    .title-content {
        @apply text-4xl font-bold
    }

    .graph-container {
        @apply w-full h-full box-border overflow-hidden relative
    }

    .graph-content {
        @apply w-full h-full box-border flex justify-center items-center
    }

    .auth-field-container {
        @apply w-full relative flex flex-col justify-center my-2
    }

    .auth-field-content {
        @apply w-full p-2 rounded-full focus:outline-gray-500
    }
}